@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  font-size: 16px;
}

a {
  background-color: transparent;
}

small,
sub,
sup {
  font-size: 0.75rem;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

img {
  display: block;
  max-width: 100%;
  border-style: none;
}

progress {
  vertical-align: baseline;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 1rem;
  margin: 0;
}

button {
  border: 0;
  cursor: pointer;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[hidden] {
  display: none;
}
